DB_USER=
DB_PASSWORD=
DB_NAME=theatre

DB_HOST=theatre-db
DB_PORT=5432
SQL_OPTIONS=-c search_path=public,content
DATABASE_TYPE=postgres
BATCH_SIZE=1000

ELK_URL=http://elasticsearch:9200
ELK_INDEX=movies
ELK_PORT=9200

SCHEMA_FILE=/opt/app/es_schema.json

REDIS_PORT=6379
REDIS_HOST=redis
