PROJECT_NAME="Movie theatre"
PROJECT_DESCRIPTION="The best movie theater for everyone"

DEBUG=True
SECRET_KEY=

SQL_ENGINE=django.db.backends.postgresql_psycopg2
DB_USER=
DB_PASSWORD=
DB_NAME=theatre

DB_HOST=theatre-db
DB_PORT=5432
SQL_OPTIONS=-c search_path=public,content
DATABASE_TYPE=postgres
BATCH_SIZE=1000
ALLOWED_HOSTS=127.0.0.1

ELK_URL=http://elasticsearch:9200
ELK_INDEX=movies
ELK_PORT=9200

SCHEMA_FILE=/opt/app/es_schema.json

REDIS_PORT=6379
REDIS_HOST=redis

AUTH_REDIS_PORT=6380
AUTH_DB_PORT=5433
AUTH_API_URL=http://auth-app:8001

AUTH_DB_USER=
AUTH_DB_PASSWORD=
AUTH_DB_NAME=auth

AUTH_DB_HOST=auth-db

DATABASE_URL=postgresql+asyncpg://${AUTH_DB_USER}:${AUTH_DB_PASSWORD}@${AUTH_DB_HOST}:${AUTH_DB_PORT}/${AUTH_DB_NAME}
DB_ECHO=True

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

REDIS_URL=redis://auth-redis:${AUTH_REDIS_PORT}