SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
SMTP_USE_TLS=true
FROM_EMAIL=no-reply@example.com
FROM_NAME="Online Cinema"

SQL_ENGINE=django.db.backends.postgresql_psycopg2
DB_USER=
DB_PASSWORD=
DB_NAME=theatre

DB_HOST=theatre-db
DB_PORT=5432
SQL_OPTIONS=-c search_path=public,content
DATABASE_TYPE=postgres

NOTIF_DB_NAME=notifications
NOTIF_DB_USER=
NOTIF_DB_PASSWORD=
NOTIF_DB_URL="postgresql://${NOTIF_DB_USER}:${NOTIF_DB_PASSWORD}@notification_db:5432/${NOTIF_DB_NAME}"

AUTH_REDIS_PORT=6380
AUTH_DB_PORT=5433
AUTH_API_URL=http://auth-app:8001

AUTH_DB_USER=
AUTH_DB_PASSWORD=
AUTH_DB_NAME=auth
AUTH_DB_HOST=auth-db
DATABASE_URL=postgresql+asyncpg://${AUTH_DB_USER}:${AUTH_DB_PASSWORD}@${AUTH_DB_HOST}:${AUTH_DB_PORT}/${AUTH_DB_NAME}

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

REDIS_URL="redis://auth-redis:${AUTH_REDIS_PORT}"